{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom Creation</title>

    <link href="{% static 'chatroom-creation/css/bootstrap5.2.3.min.css' %}" rel="stylesheet">
    <script src="{% static 'chatroom-creation/js/bootstrap5.2.3.bundle.min.js' %}"></script>

    <script src="{% static 'chatroom-creation/js/jquery-3.6.3.js' %}"></script>

</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">

            <h2>Chatroom Creation</h2>

        </div>

        <div class="row g-5">

            <div class="container">

                <div class="col-12" style="padding-bottom: 30px">
                    <label for="room-type" class="form-label">Chatroom Type</label>
                    <select class="form-select" id="room-type" required>
                        <option>Direct</option>
                        <option>Group</option>
                        <option>Channel</option>
                    </select>

                    <div class="invalid-feedback">
                        Please select a valid chatroom type.
                    </div>
                </div>

                <div id="direct-creation">
                    <h4 class="mb-3">Direct Creation Form</h4>
                    <form class="needs-validation" id="direct-form" novalidate>
                        <div class="row g-3" style="padding-bottom: 2%">

                            <div class="col-12">
                                <label for="username" class="form-label">Second Member</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="username"
                                           placeholder="Username/Phone Number" required>
                                    <button class="btn btn-outline-secondary" type="button" id="user-search-submit">
                                        Search
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="container">
                            <div class="row" id="user-search-result">

                            </div>


                            <hr class="my-4">

                            <button class="w-100 btn btn-primary btn-lg" id="create-direct" type="submit">Create Direct
                                Chat
                            </button>
                        </div>
                    </form>
                </div>

                <div id="group-creation" hidden>
                    <h4 class="mb-3">Group Creation Form</h4>
                    <form class="needs-validation" id="group-form" novalidate>
                        <div class="row g-3">

                            <div class="col-12">
                                <label for="group-name" class="form-label">Group Name</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="group-name" placeholder="Group Name"
                                           required>
                                </div>
                            </div>



                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" id="create-group" type="submit">Create Group Chat
                        </button>
                    </form>
                </div>

                <div id="channel-creation" hidden>
                    <h4 class="mb-3">Channel Creation Form</h4>
                    <form class="needs-validation" id="channel-form" novalidate>
                        <div class="row g-3">

                            <div class="col-12">
                                <label for="channel-name" class="form-label">Channel Name</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="channel-name" placeholder="Channel Name"
                                           required>
                                </div>
                            </div>


                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" id="create-channel" type="submit">Create Channel
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </main>

</div>


<script src="{% static 'chatroom-creation/js/script.js' %}"></script>


</body>
</html>