{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Management</title>

    <link href="{% static 'chatroom-management/css/bootstrap5.2.3.min.css' %}" rel="stylesheet">
    <script src="{% static 'chatroom-management/js/bootstrap5.2.3.bundle.min.js' %}"></script>

    <script src="{% static 'chatroom-management/js/jquery-3.6.3.js' %}"></script>

</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-3 col-lg-3 order-md-first">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Chatroom</span>
                    <span class="badge bg-primary rounded-pill" id="chatroom-count">0</span>
                </h4>
                <ul class="list-group mb-3" id="chatroom-list">

                </ul>

            </div>

            <div class="col-md-6 col-lg-6">
                <h4 class="mb-3">Manage Chat Room</h4>
                <form class="needs-validation" id="user-search-form" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                       required>
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                                <button class="btn btn-outline-secondary" type="submit" id="user-search-submit">
                                    Search
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="roles-select" class="form-label">Roles</label>
                            <select class="form-select" id="roles-select" required>

                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                    </div>

                    <hr class="my-4">
                </form>

                <div class="row" id="user-search-result">

                </div>
            </div>

            <div class="col-md-3 col-lg-3 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Selected Users</span>
                    <span class="badge bg-primary rounded-pill" id="selected-user-count">0</span>
                </h4>
                <ul class="list-group mb-3" id="selected-users">

                </ul>
                <button class="w-100 btn btn-primary btn-lg" type="button" id="apply-changes">Apply Changes</button>

                <hr>

                <div style="margin-top: 3%;">
                    <label for="join-link">Join Link</label>
                    <textarea class="form-control" id="join-link" rows="3" readonly></textarea>
                </div>
            </div>
        </div>
    </main>


</div>

<script>
    $(document).ready(function () {

        var chatroom_id = null;

        const chat_list_socket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/userchats/'
        );

        const user_search_socket = new WebSocket(
            'ws://' + window.location.host + '/ws/user/search/'
        );

        var user_join_socket = null;

        var user_remove_socket = null;

        chat_list_socket.onopen = (event) => {
            chat_list_socket.send(JSON.stringify({'roles': ['creator', 'admin']}));
        };

        chat_list_socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data['event'] === "chat_list_slice") {
                var str = ''
                data['chats'].forEach(function (item) {
                    str += '<li class="list-group-item d-flex justify-content-between lh-sm"><div><h6 class="my-0">' +
                        item['chatroom_title'] +
                        '<input type="hidden" value="' + item['chatroom_id'] + '" id="h_v" class="h_v">' +
                        '</h6> <small class="text-muted">' +
                        item['chatroom_type'] +
                        '</small></div> <span class="text-muted">' +
                        item['user_role'] +
                        '</span> </li>';
                });
                $('#chatroom-list').html(str);
                $('#chatroom-count').text(data['chats'].length);
            }
        };


        $('#chatroom-list').on('click', 'li', function () {
            chatroom_id = $(this).find('#h_v').val();
            var chatroom_role = $(this).find('span').text()

            var str = ''
            if (chatroom_role === 'creator')
                str = '<option>admin</option><option>member</option><option>muted</option><option>remove</option>';


            if (chatroom_role === 'admin')
                str = '<option>member</option><option>muted</option><option>remove</option>';

            $('#roles-select').html(str);


            $(this).parent().find('.bg-success').removeClass('text-white bg-success')
            $(this).parent().find('small').addClass('text-muted')
            $(this).parent().find('span').addClass('text-muted')

            $(this).addClass('text-white');
            $(this).children('span').removeClass('text-muted');
            $(this).children().find('small').removeClass('text-muted')
            $(this).addClass('bg-success');

            user_join_socket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/join/' +
                chatroom_id +
                '/'
            );

            user_remove_socket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/remove/' +
                chatroom_id +
                '/'
            );

            $('#join-link').text(window.location.host + "/join/" + chatroom_id);

        });

        $('#user-search-form').submit(function () {

            var search_keyword = $(this).parent().find("input").val();


            var search_data = {"keyword": search_keyword};
            user_search_socket.send(JSON.stringify(search_data));

            user_search_socket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                if (data['event'] === 'search-result') {
                    var str = '';
                    data['users'].forEach(function (item) {

                        str += '<div class="user-class card bg-secondary text-white mb-3 col-6"> <div class="card-header">' +
                            item['phone_number'] +
                            '</div> <div class="card-body"> <h5 class="card-title">' +
                            item['username'] +
                            '</h5> </div> </div>'

                    });
                    $('#user-search-result').html(str);
                }
            };


            return false;
        });

        $('#user-search-result').on('click', '.user-class', function () {
            var phone_number = $(this).find('.card-header').text();
            var user_id = $(this).find('h5').text();

            if ($('#selected-users li div h6:contains(' + phone_number + ')').length)
                return false;

            var str = '<li class="border border-light list-group-item d-flex justify-content-between lh-sm bg-success text-white"><div><h6 class="my-0">' +
                phone_number +
                '</h6></div><span>' +
                user_id +
                '</span> </li>';

            $('#selected-users').append(str);
            $('#selected-user-count').text($('#selected-users li').length);

        });

        $('#selected-users').on('click', 'li', function () {
            $(this).remove();
            $('#selected-user-count').text($('#selected-users li').length);
        });

        $('#apply-changes').click(function () {
            var phone_numbers = []
            $("#selected-users li div h6").each(function () {
                var $this = $(this);
                if ($this.length) {
                    var selText = $this.text();
                    phone_numbers.push(selText);
                }
            });

            var action = $('#roles-select option:selected').text();
            alert(action);

            if (action === 'remove') {
                let data = {'phone_numbers': phone_numbers};
                user_remove_socket.send(JSON.stringify(data));
            } else {
                let data = {'phone_numbers': phone_numbers, 'role': action};
                user_join_socket.send(JSON.stringify(data));
            }

            user_join_socket.onmessage = function (e) {
                var data = JSON.parse(e.data);
                alert(data['event'] + ': ' + data['description']);
            };

            user_remove_socket.onmessage = function (e) {
                var data = JSON.parse(e.data);
                alert(data['event'] + ': ' + data['description']);
            };

        });

    });
</script>
</body>
</html>